version: '3'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/kargainworld/kargain-app
    container_name: frontend_ssr
    restart: unless-stopped
    env_file: .env
    ports:
      - "3000:3000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
